<!-- done -->

<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand text margin-header">TRAVEL THAILAND</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
            </div>
        </div>
    </nav>
    
    <!-- part-to-whole -->
    
    <div class="container-fluid margin">
        <div class="row">
            <div class="col-sm-8">
                <h2 class="text">Tourists from Overseas in 2010-2016</h2>
                <br>
                <div class="row margin-top-region">
                    <div class="col">
                        <h6 class="region-name">Asia</h6></div>
                    <div class="col">
                        <h6 class="region-name">Europe</h6></div>
                    <div class="col">
                        <h6 class="region-name">Americas</h6></div>
                    <div class="col">
                        <h6 class="region-name">Oceania</h6></div>
                    <div class="col">
                        <h6 class="region-name">Africa</h6></div>
                </div>
                <div class="row margin-top-region">
                    <div class="col">
                        <img src="./assets/images/asia.png" class="region-img img-responsive">
                        <h2 class="text-region ">116.54 M</h2></div>
                    <div class="col">
                        <img src="./assets/images/europe.png" class="region-img img-responsive">
                        <h2 class="text-region ">39.59 M</h2>
                    </div>
                    <div class="col">
                        <img src="./assets/images/america.png" class="region-img img-responsive">
                        <h2 class="text-region ">7.81 M</h2>
                    </div>
                    <div class="col">
                        <img src="./assets/images/oceania.png" class="region-img img-responsive">
                        <h2 class="text-region ">6.56 M</h2>
                    </div>
                    <div class="col">
                        <img src="./assets/images/africa.png" class="region-img img-responsive">
                        <h2 class="text-region ">1.08 M</h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 margin-pie">
                <apx-chart id="part-to-whole-region" [responsive]="responsive" [chart]="chart_pie" [labels]="labels_region" [responsive]="responsive" [title]="title_pie" [series]="series_pie">
                </apx-chart>
            </div>
        </div>
    </div>
    
    <!-- time-series from asia -->
    <div class="container-fluid bg-grey">
        <h2 class="text margin-top-region text-center">Tourists from Asia in 2010-2016</h2>
        <div class="row">
            <div class="col">
            </div>
            <div class="col margin-top-region">
                <apx-chart id="time-series-bar" [responsive]="responsive" [series]="series_time_series" [chart]="chart_bar" [title]="title_time_series" [xaxis]="xaxis_time_series" [yaxis]="yaxis_time_series">
                </apx-chart>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
    
    <div class="container-fluid text-center">
        <h2 class="text margin-top-region text-center">Tourists from Europe and Americas in 2010-2016</h2>
        <br>
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <apx-chart id="time-series-line" [series]="series_time_series_europe" [chart]="chart_line" [title]="title_time_series_europe" [xaxis]="xaxis_time_series" [yaxis]="yaxis_time_series" [colors]="colors_line_europe">
                </apx-chart>
            </div>
            <div class="col">
                <apx-chart id="time-series-line" [series]="series_time_series_america" [chart]="chart_line" [title]="title_time_series_america" [xaxis]="xaxis_time_series" [yaxis]="yaxis_time_series" [colors]="colors_line_america">
                </apx-chart>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
    
    <div class="container-fluid text-center bg-grey">
        <h2 class="text margin-top-region text-center">Popular Accomodation in Thailand</h2>
        <div class="row margin-top-region">
            <div class="col"></div>
            <div class="col">
                <div class="card">
                    <img class="card-img" src="./assets/images/grand.jpg">
                    <div class="card-body">
                        <h2 class="card-text text">The Grand Palace</h2>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    
        <div class="row">
            <div class="col">
                <div class="card margin-top-region">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <img src="./assets/images/china.png" class="region-img img-responsive">
                            </div>
                            <div class="col">
                                <h2 class="text-region margin-china">31.63 M</h2></div>
                            <div class="col">
                                <img src="./assets/images/paifang.png" class="region-img img-responsive">
                            </div>
                        </div>
                        <h2 class="text">Thailand has the most tourists from China.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid text-center">
        <h2 class="text margin-top-region text-center">Geo Chart</h2>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                    <google-chart width="600" height="450" [title]="chart.title" [type]="chart.type" [data]="chart.data" [columnNames]="chart.columnNames" [roles]="chart.roles" [options]="chart.options">
                    </google-chart>
                </div>
            <div class="col">
                    <apx-chart id="china-distri" [series]="series_distri" [chart]="chart_distri" [title]="title_distri" [xaxis]="xaxis_distri" [yaxis]="yaxis_distri" [plotOptions]="plotOptions">
                        </apx-chart>
            </div>
            <div class="col"></div>
        </div>
    
    </div>
    
    <div class="container-fluid bg-grey">
        <div class="text-center">
            <h2 class="text margin-top-region text-center">Deviation</h2>
            <div class="row margin-top-region">
                <div class="col">
                    <apx-chart id="deviation" [chart]="chart_devi" [legend]="legend_devi" [title]="title_devi" [series]="series_devi" [xaxis]="xaxis_devi" [yaxis]="yaxis_devi">
                        </apx-chart>
                    </div>
                <div class="col">
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
            <div class="text-center">
                <h2 class="text margin-top-region text-center">Deviation</h2>
                <div class="row margin-top-region">
                        <div class="col">
                            </div>

                    <div class="col">
                            <apx-chart id="est-asia-distri" [series]="series_est_asia" [chart]="chart_est_asia" [title]="title_est_asia" [xaxis]="xaxis_est_asia" [yaxis]="yaxis_est_asia" [plotOptions]="plotOptions_est_asia" [dataLabels]="dataLabels_est_asia">
                                </apx-chart>
                    </div>
                      
                    <div class="col">
                            <apx-chart id="est-asia-distri-normalize" [series]="series_est_asia_normalize" [chart]="chart_est_asia" [title]="title_est_asia" [xaxis]="xaxis_est_asia" [yaxis]="yaxis_est_asia_normalize" [plotOptions]="plotOptions_est_asia" [dataLabels]="dataLabels_est_asia">
                                </apx-chart>
                    </div>

                    <div class="col">
                        </div>
                </div>
            </div>
        </div>
    
    <div class="container-fluid bg-grey">
        <h2 class="text margin-top-region text-center">Visualization Final Project</h2>
        <div class="row">
    
        </div>
    </div>
    
  
    
   
    
    <!-- <apx-chart id="corre" [series]="series_corre" [chart]="chart_corre" [title]="title_est_asia" [xaxis]="xaxis_corre" [yaxis]="yaxis_corre" [plotOptions]="plotOptions_est_asia" [dataLabels]="dataLabels_est_asia">
                </apx-chart>  -->